<h1 mat-dialog-title>Create/Edit Record</h1>
<div mat-dialog-content>
    <!--<p>ID: </p>
    <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput [(ngModel)]="data.id" disabled>
    </mat-form-field>-->
    <p>Date: </p>
    <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="dp3" [(ngModel)]="data.date" disabled>
        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
    </mat-form-field>
    <p>Particulars: </p>
    <mat-form-field>
        <mat-label>Particulars</mat-label>
        <input matInput [(ngModel)]="data.particulars">
    </mat-form-field>
    <p>Voucher Number: </p>
    <mat-form-field>
        <mat-label>Voucher Number</mat-label>
        <input matInput [(ngModel)]="data.vrNumber">
    </mat-form-field>

    <p>Amount : </p>
    <mat-form-field>
        <mat-label>Amount</mat-label>
        <input matInput [(ngModel)]="data.amount">
    </mat-form-field>
</div>
<div mat-dialog-actions style="display: block;margin-left: auto;margin-right: auto;" align="center">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>